body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: black;
}
body .contenedorBody {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  background-image: url(/img/Fondos/fondogtrweb.jpg);
  background-attachment: fixed;
  background-position: left center;
  background-repeat: no-repeat;
}
body .contenedorBodyIndex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 3fr 0.5fr;
  grid-template-areas: "header header header" "seccionIndex seccionIndex seccionIndex" "footer footer footer";
}
body .contenedorBodyQuienes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 3fr 0.5fr;
  grid-template-areas: "header header header" "seccionQuienes seccionQuienes seccionQuienes" "footer footer footer";
}

@media screen and (max-width: 480px) {
  body .contenedorBody {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  body .contenedorBodyIndex {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  body .contenedorBody {
    width: auto;
  }
  body .contenedorBodyIndex {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body .contenedorBody {
    width: auto;
  }
}
.SeccionPrincipal {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 120rem;
  margin-top: 10px;
  grid-area: seccionIndex;
}
.SeccionPrincipal .SeccionPrincipal__img {
  width: 50vw;
  border-radius: 20px;
  border: 2px solid;
  border-color: orangered;
}
.SeccionPrincipal .SeccionPrincipal__ParrafoImg {
  display: flex;
  color: white;
  text-align: center;
  width: 400px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}
.SeccionPrincipal .SeccionPrincipal__ContenedorMap {
  display: flex;
  flex-direction: column-reverse;
  color: aliceblue;
  align-items: flex-end;
  height: 26rem;
  margin: 4rem;
}
.SeccionPrincipal .SeccionPrincipal__ContenedorMap map {
  display: flex;
  width: 500px;
  margin-left: 0px;
  margin-right: 27px;
  margin-bottom: 18px;
}
.SeccionPrincipal .SeccionPrincipal__ContenedorMap map .gmap_canvas {
  width: 300px;
}
.SeccionPrincipal .SeccionPrincipal__ContenedorMap p {
  display: flex;
  margin-right: 0;
  font-size: 35px;
  width: 500px;
  margin-right: 28px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Caveat", cursive;
}

@media screen and (max-width: 480px) {
  .SeccionPrincipal {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .SeccionPrincipal__img {
    height: 14rem;
    width: 28rem;
  }
  .SeccionPrincipal__ContenedorMap {
    width: auto;
    margin: 5rem;
  }
  .SeccionPrincipal__ContenedorMap map {
    margin: 0px;
    width: 26rem;
  }
  .SeccionPrincipal__ContenedorMap p {
    width: 25rem;
    margin: 0px;
  }
}
.SeccionVehiculos {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.SeccionVehiculos .SeccionVehiculos__Titulo {
  color: aliceblue;
  text-align: center;
  font-size: 3.5rem;
  font-family: "robot", cursive;
  text-decoration: underline;
}
.SeccionVehiculos .ContenedorPublicaciones {
  display: flex;
  flex-direction: column;
}
.SeccionVehiculos .ContenedorPublicaciones .ContenedorPublicaciones__Seccion1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.SeccionVehiculos .ContenedorPublicaciones .ContenedorPublicaciones__Seccion1 .ContenedorPublicaciones__Publicacion {
  border-radius: 10px;
  width: 18.87rem;
  border-color: orangered;
}
.SeccionVehiculos .ContenedorPublicaciones .ContenedorPublicaciones__Seccion1 .ContenedorPublicaciones__Publicacion img {
  border: 3px solid rgb(5, 92, 119);
}
.SeccionVehiculos .ContenedorPublicaciones .ContenedorPublicaciones__Seccion1 .ContenedorPublicaciones__Publicacion p {
  color: orangered;
  font-family: "robot", cursive;
}
.SeccionVehiculos .ContenedorPublicaciones .ContenedorPublicaciones__Seccion1 .ContenedorPublicaciones__Publicacion h3 {
  color: orangered;
  font-family: "robot", cursive;
}
.SeccionVehiculos .ContenedorPublicaciones .ContenedorPublicaciones__Seccion2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.SeccionVehiculos .ContenedorPublicaciones .ContenedorPublicaciones__Seccion2 .ContenedorPublicaciones__Publicacion {
  border-radius: 10px;
  width: 18.87rem;
  border-color: orangered;
}
.SeccionVehiculos .ContenedorPublicaciones .ContenedorPublicaciones__Seccion2 .ContenedorPublicaciones__Publicacion img {
  border: 3px solid rgb(5, 92, 119);
}
.SeccionVehiculos .ContenedorPublicaciones .ContenedorPublicaciones__Seccion2 .ContenedorPublicaciones__Publicacion p {
  color: orangered;
  font-family: "robot", cursive;
}
.SeccionVehiculos .ContenedorPublicaciones .ContenedorPublicaciones__Seccion2 .ContenedorPublicaciones__Publicacion h3 {
  color: orangered;
  font-family: "robot", cursive;
}

@media screen and (max-width: 480px) {
  .SeccionVehiculos {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .SeccionVehiculos .ContenedorPublicaciones {
    display: flex;
    flex-direction: column;
  }
  .SeccionVehiculos .ContenedorPublicaciones .ContenedorPublicaciones__Seccion1 {
    display: flex;
    flex-direction: column;
  }
  .SeccionVehiculos .ContenedorPublicaciones .ContenedorPublicaciones__Seccion1 .ContenedorPublicaciones__Publicacion {
    margin-top: 3rem;
  }
  .SeccionVehiculos .ContenedorPublicaciones .ContenedorPublicaciones__Seccion2 {
    display: flex;
    flex-direction: column;
  }
  .SeccionVehiculos .ContenedorPublicaciones .ContenedorPublicaciones__Seccion2 .ContenedorPublicaciones__Publicacion {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .SeccionVehiculos {
    width: auto;
  }
  .SeccionVehiculos .ContenedorPublicaciones__Seccion1 {
    display: flex;
    flex-direction: column;
  }
  .SeccionVehiculos .ContenedorPublicaciones__Seccion2 {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .SeccionVehiculos {
    width: auto;
  }
  .SeccionVehiculos .ContenedorPublicaciones__Seccion1 {
    display: flex;
    gap: 0.2rem;
  }
  .SeccionVehiculos .ContenedorPublicaciones__Seccion1 .ContenedorPublicaciones__Publicacion img {
    width: 238px;
    margin-left: 10px;
  }
  .SeccionVehiculos .ContenedorPublicaciones__Seccion2 {
    display: flex;
    gap: 0.2rem;
  }
  .SeccionVehiculos .ContenedorPublicaciones__Seccion2 .ContenedorPublicaciones__Publicacion img {
    width: 238px;
    margin-left: 10px;
  }
}
.ContenedorForm {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  text-align: center;
  width: 100%;
  margin-bottom: 150px;
}
.ContenedorForm .ContenedorForm__Titulo {
  display: flex;
  justify-content: space-around;
  font-size: 3.5rem;
  text-decoration: underline;
  font-family: "robot", cursive;
}
.ContenedorForm .ContenedorForm__Formulario {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.ContenedorForm .ContenedorForm__Formulario .ContenedorForm__Formulario_Fieldset {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 450px;
  border-radius: 20px;
  background-color: rgb(5, 92, 119);
}
.ContenedorForm .ContenedorForm__Formulario .ContenedorForm__Formulario_Fieldset legend {
  font-size: 35px;
}
.ContenedorForm .ContenedorForm__Formulario .ContenedorForm__Formulario_Fieldset .ContenedorForm__Formulario_Fieldset_Label {
  font-size: 25px;
  text-align: left;
}
.ContenedorForm .ContenedorForm__Formulario .ContenedorForm__Formulario_Fieldset .ContenedorForm__Formulario_Fieldset_Input {
  padding: 10px;
}
.ContenedorForm .ContenedorForm__Formulario .ContenedorForm__Formulario_Fieldset .FormButton {
  display: flex;
  width: 70px;
  font-size: 20px;
  padding-top: 10px;
  margin-left: 184px;
}
.ContenedorForm .ContenedorForm__Formulario .ContenedorForm__Formulario_Fieldset .FormButton .FormButton__Button {
  display: flex;
  width: 70px;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Caveat", cursive;
  color: orangered;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  cursor: pointer;
  transition: all 0.3s;
}
.ContenedorForm .ContenedorForm__Formulario .ContenedorForm__Formulario_Fieldset .FormButton .FormButton__Button:hover {
  font-size: 23px;
  padding: 2px;
  width: 80px;
  background-color: black;
}

@media screen and (max-width: 480px) {
  .ContenedorForm__Formulario_Fieldset_Input {
    padding: 8px;
  }
  .ContenedorForm__Formulario_Fieldset_Label {
    font-size: 15px;
  }
  .FormButton {
    margin: auto;
  }
}
.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-image: url(/img/Fondos/fondoheader.jpg);
  background-size: 120rem 150%;
  background-repeat: no-repeat;
  border-bottom: 2px;
  grid-area: header;
}
.header .header__logo {
  padding: 1px;
  width: 20rem;
  height: 12rem;
  margin-bottom: -8px;
  border-radius: 10px;
  transition: all 0.4s;
}
.header .header__logo:hover {
  width: 21rem;
  height: 13rem;
}
.header .header__tittle {
  margin: 1rem;
  background-image: linear-gradient(100deg, orangered, orange, rgb(5, 92, 119), rgb(0, 10, 66), grey, rgb(123, 201, 247), orange, orangered);
  padding: -0.5px;
  border-radius: 10px;
  -webkit-animation: gradiente 20s linear infinite;
          animation: gradiente 20s linear infinite;
}
.header .header__barraDeNavegacion_listado {
  color: rgb(0, 0, 0);
  background-color: black;
  text-align: left;
  padding: 10px;
  margin: 0px;
  text-align: center;
  border: 2px solid;
  border-radius: 25px;
  border-color: orangered;
}
.header .header__barraDeNavegacion_listado li {
  display: inline;
  color: orangered;
  margin: 1rem;
}
.header .header__barraDeNavegacion_listado li a {
  color: rgb(123, 201, 247);
  font-style: oblique;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Caveat", cursive;
  transition: all 0.5s;
  cursor: pointer;
}
.header .header__barraDeNavegacion_listado li a:hover {
  color: black;
  padding: 1px;
  background-color: orangered;
  font-size: 1.4rem;
  border: 2.5px solid rgb(5, 92, 119);
  border-radius: 40px;
}

@media screen and (max-width: 480px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header .header__logo {
    height: 9rem;
    width: 18rem;
    margin: 0px;
    margin-bottom: -0.43rem;
  }
  .header .header__tittle {
    text-align: center;
  }
  .header .header__barraDeNavegacion {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .header .header__barraDeNavegacion .header__barraDeNavegacion_listado {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: transparent;
  }
  .header .header__barraDeNavegacion .header__barraDeNavegacion_listado li a {
    color: orangered;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header .header__logo {
    margin: 3rem;
  }
  .header .header__tittle {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    width: 20.3rem;
    height: 12.3rem;
  }
  .header .header__barraDeNavegacion {
    width: auto;
  }
  .header .header__barraDeNavegacion .header__barraDeNavegacion_listado {
    padding: 0.3rem;
  }
  .header .header__barraDeNavegacion .header__barraDeNavegacion_listado li {
    margin: 1rem;
  }
  .header .header__barraDeNavegacion .header__barraDeNavegacion_listado li a {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header {
    display: flex;
    align-items: center;
  }
  .header .header__barraDeNavegacion {
    margin: 1rem;
  }
  .header .header__barraDeNavegacion .header__barraDeNavegacion_listado {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  .header .header__barraDeNavegacion .header__barraDeNavegacion_listado li {
    margin: 0.8rem;
    width: 10rem;
  }
  .header .header__barraDeNavegacion .header__barraDeNavegacion_listado li a {
    font-size: 1rem;
  }
}
.PieDePagina {
  color: white;
  text-align: right;
  background-color: black;
  grid-area: footer;
}
.PieDePagina .PieDePagina__Contenedor {
  margin-right: 15px;
}
.PieDePagina .PieDePagina__LogoRedSocial {
  width: 50px;
  height: 50px;
  margin: 15px;
  transition: border 0.2s, width 0.5s, height 0.5s;
}
.PieDePagina .PieDePagina__LogoRedSocial:hover {
  width: 60px;
  height: 60px;
  border: 2px solid orangered;
  border-radius: 30px;
}

@media screen and (max-width: 480px) {
  .PieDePagina__Contenedor {
    margin-right: 0px;
    text-align: center;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .PieDePagina__Contenedor {
    text-align: center;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .PieDePagina__Contenedor {
    text-align: center;
  }
}
.ContenedorQuienes {
  margin-top: 80px;
  margin-bottom: 50px;
  grid-area: seccionQuienes;
}
.ContenedorQuienes .ContenedorQuienes__ParrafoVideo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.ContenedorQuienes .ContenedorQuienes__ParrafoVideo div h2 {
  display: flex;
  flex-direction: column;
  font-family: "robot", cursive;
  text-decoration: underline;
  font-size: 50px;
  color: orangered;
  margin-top: 0px;
}
.ContenedorQuienes .ContenedorQuienes__ParrafoVideo div p {
  display: flex;
  align-items: center;
  width: 600px;
  height: 400px;
  font-family: "caveat", cursive;
  font-size: 35px;
  margin-top: -30px;
  color: azure;
}
.ContenedorQuienes .ContenedorQuienes__ParrafoVideo iframe {
  width: 50%;
  height: 450px;
  border-radius: 20px;
  border: 1px solid orangered;
}

@media screen and (max-width: 480px) {
  .contenedorBodyQuienes {
    height: 0px;
  }
  .contenedorBodyQuienes .ContenedorQuienes {
    margin: 0px;
  }
  .contenedorBodyQuienes .ContenedorQuienes .ContenedorQuienes__ParrafoVideo {
    display: flex;
    flex-direction: column;
  }
  .contenedorBodyQuienes .ContenedorQuienes .ContenedorQuienes__ParrafoVideo div h2 {
    text-align: center;
    font-size: 30px;
    width: auto;
    margin: 0px;
  }
  .contenedorBodyQuienes .ContenedorQuienes .ContenedorQuienes__ParrafoVideo div p {
    font-size: 22px;
    width: auto;
    text-align: center;
    margin-top: 0px;
    height: 295px;
  }
  .contenedorBodyQuienes .ContenedorQuienes .ContenedorQuienes__ParrafoVideo iframe {
    height: 229px;
    width: auto;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .contenedorBodyQuienes {
    height: 0px;
  }
  .contenedorBodyQuienes .ContenedorQuienes {
    margin-top: 20px;
  }
  .contenedorBodyQuienes .ContenedorQuienes .ContenedorQuienes__ParrafoVideo {
    display: flex;
    flex-direction: column;
  }
  .contenedorBodyQuienes .ContenedorQuienes .ContenedorQuienes__ParrafoVideo div h2 {
    text-align: center;
    font-size: 40px;
  }
  .contenedorBodyQuienes .ContenedorQuienes .ContenedorQuienes__ParrafoVideo div p {
    width: auto;
    height: auto;
    text-align: center;
    font-size: 20px;
    margin: 0px;
  }
  .contenedorBodyQuienes .ContenedorQuienes .ContenedorQuienes__ParrafoVideo div iframe {
    width: 440px;
    height: 300px;
    margin-top: 40px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .ContenedorQuienes {
    margin-top: 20px;
  }
  .ContenedorQuienes .ContenedorQuienes__ParrafoVideo {
    display: flex;
    flex-direction: column;
  }
  .ContenedorQuienes .ContenedorQuienes__ParrafoVideo div h2 {
    font-size: 40px;
    text-align: center;
  }
  .ContenedorQuienes .ContenedorQuienes__ParrafoVideo div p {
    font-size: 25px;
    text-align: center;
    height: auto;
    margin: 0px;
  }
  .ContenedorQuienes .ContenedorQuienes__ParrafoVideo div iframe {
    width: 650px;
    height: 450px;
    margin-top: 40px;
  }
}/*# sourceMappingURL=Styles.css.map */