@import "./Partials/Variables";
@import "./Partials/Body";
@import "./Partials/Index";
@import "./Partials/Vehiculos";
@import "./Partials/Forms";
@import "./Partials/Header";
@import "./Partials/Footer";
@import "./Partials/QuienesMain";

.contenedorBody {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    background-image: url(./img/Fondos/fondogtrweb.jpg);
    background-attachment: fixed;
    background-position: left center;
    background-repeat: no-repeat;
} 