body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: black;
}
body .contenedorBody {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  background-image: url(/img/Fondos/fondogtrweb.jpg);
  background-attachment: fixed;
  background-position: left center;
  background-repeat: no-repeat;
}
body .contenedorBodyIndex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 3fr 0.5fr;
  grid-template-areas: "header header header" "seccionIndex seccionIndex seccionIndex" "footer footer footer";
}

@media screen and (max-width: 480px) {
  body .contenedorBody {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  body .contenedorBodyIndex {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  body .contenedorBody {
    width: auto;
  }
  body .contenedorBodyIndex {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body .contenedorBody {
    width: auto;
  }
}
.SeccionPrincipal {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 120rem;
  margin-top: 10px;
  grid-area: seccionIndex;
}
.SeccionPrincipal .SeccionPrincipal__img {
  width: 50vw;
  border-radius: 20px;
  border: 2px solid;
  border-color: orangered;
}
.SeccionPrincipal .SeccionPrincipal__ParrafoImg {
  display: flex;
  color: white;
  text-align: center;
  width: 400px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}
.SeccionPrincipal .SeccionPrincipal__ContenedorMap {
  display: flex;
  flex-direction: column-reverse;
  color: aliceblue;
  align-items: flex-end;
  height: 26rem;
  margin: 4rem;
}
.SeccionPrincipal .SeccionPrincipal__ContenedorMap map {
  display: flex;
  width: 500px;
  margin-left: 0px;
  margin-right: 27px;
  margin-bottom: 18px;
}
.SeccionPrincipal .SeccionPrincipal__ContenedorMap map .gmap_canvas {
  width: 300px;
}
.SeccionPrincipal .SeccionPrincipal__ContenedorMap p {
  display: flex;
  margin-right: 0;
  font-size: 35px;
  width: 500px;
  margin-right: 28px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Caveat", cursive;
}

@media screen and (max-width: 480px) {
  .SeccionPrincipal {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .SeccionPrincipal__img {
    height: 14rem;
    width: 28rem;
  }
  .SeccionPrincipal__ContenedorMap {
    width: auto;
    margin: 5rem;
  }
  .SeccionPrincipal__ContenedorMap map {
    margin: 0px;
    width: 26rem;
  }
  .SeccionPrincipal__ContenedorMap p {
    width: 25rem;
    margin: 0px;
  }
}
.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-image: url(/img/Fondos/fondoheader.jpg);
  background-size: 120rem 150%;
  background-repeat: no-repeat;
  border-bottom: 2px;
  grid-area: header;
}
.header .header__logo {
  padding: 1px;
  width: 20rem;
  height: 12rem;
  margin-bottom: -8px;
  border-radius: 10px;
  transition: all 0.4s;
}
.header .header__logo:hover {
  width: 21rem;
  height: 13rem;
}
.header .header__tittle {
  margin: 1rem;
  background-image: linear-gradient(100deg, orangered, orange, rgb(5, 92, 119), rgb(0, 10, 66), grey, rgb(123, 201, 247), orange, orangered);
  padding: -0.5px;
  border-radius: 10px;
  -webkit-animation: gradiente 20s linear infinite;
          animation: gradiente 20s linear infinite;
}
.header .header__barraDeNavegacion_listado {
  color: rgb(0, 0, 0);
  background-color: black;
  text-align: left;
  padding: 10px;
  margin: 0px;
  text-align: center;
  border: 2px solid;
  border-radius: 25px;
  border-color: orangered;
}
.header .header__barraDeNavegacion_listado li {
  display: inline;
  color: orangered;
  margin: 1rem;
}
.header .header__barraDeNavegacion_listado li a {
  color: rgb(123, 201, 247);
  font-style: oblique;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Caveat", cursive;
  transition: all 0.5s;
  cursor: pointer;
}
.header .header__barraDeNavegacion_listado li a:hover {
  color: black;
  padding: 1px;
  background-color: orangered;
  font-size: 1.4rem;
  border: 2.5px solid rgb(5, 92, 119);
  border-radius: 40px;
}

@media screen and (max-width: 480px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header .header__logo {
    height: 9rem;
    width: 18rem;
    margin: 0px;
    margin-bottom: -0.43rem;
  }
  .header .header__tittle {
    text-align: center;
  }
  .header .header__barraDeNavegacion {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .header .header__barraDeNavegacion .header__barraDeNavegacion_listado {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: transparent;
  }
  .header .header__barraDeNavegacion .header__barraDeNavegacion_listado li a {
    color: orangered;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header .header__logo {
    margin: 3rem;
  }
  .header .header__tittle {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    width: 20.3rem;
    height: 12.3rem;
  }
  .header .header__barraDeNavegacion {
    width: auto;
  }
  .header .header__barraDeNavegacion .header__barraDeNavegacion_listado {
    padding: 0.3rem;
  }
  .header .header__barraDeNavegacion .header__barraDeNavegacion_listado li {
    margin: 1rem;
  }
  .header .header__barraDeNavegacion .header__barraDeNavegacion_listado li a {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header {
    display: flex;
    align-items: center;
  }
  .header .header__barraDeNavegacion {
    margin: 1rem;
  }
  .header .header__barraDeNavegacion .header__barraDeNavegacion_listado {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  .header .header__barraDeNavegacion .header__barraDeNavegacion_listado li {
    margin: 0.8rem;
    width: 10rem;
  }
  .header .header__barraDeNavegacion .header__barraDeNavegacion_listado li a {
    font-size: 1rem;
  }
}
.PieDePagina {
  color: white;
  text-align: right;
  background-color: black;
  grid-area: footer;
}
.PieDePagina .PieDePagina__Contenedor {
  margin-right: 15px;
}
.PieDePagina .PieDePagina__LogoRedSocial {
  width: 50px;
  height: 50px;
  margin: 15px;
  transition: border 0.2s, width 0.5s, height 0.5s;
}
.PieDePagina .PieDePagina__LogoRedSocial:hover {
  width: 60px;
  height: 60px;
  border: 2px solid orangered;
  border-radius: 30px;
}

@media screen and (max-width: 480px) {
  .PieDePagina__Contenedor {
    margin-right: 0px;
    text-align: center;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .PieDePagina__Contenedor {
    text-align: center;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .PieDePagina__Contenedor {
    text-align: center;
  }
}/*# sourceMappingURL=Styles.css.map */