.SeccionPrincipal {    
    @extend %flexColumn;
    max-width: 120rem;
    margin-top: 10px;  
    grid-area: seccionIndex;

    .SeccionPrincipal__img {
        width: 50vw;
        border-radius: 20px;
        border: 2px solid;
        border-color: map-get($colores, colorBorde);
    }

    .SeccionPrincipal__ParrafoImg {        
        color: map-get($colores, colorText);
        text-align: center;
        width: 400px;
        margin: 0px;
        font-family: 'Roboto', sans-serif;
        font-size: .9rem;      
    }

    .SeccionPrincipal__ContenedorMap {        
        flex-direction: column-reverse;         
        color: $colorText; 
        align-items: center;
        height: 26rem; 
        margin: 4rem;

        map {            
            width: 455px;
            

            .gmap_canvas {
                width: 100%;
                margin: auto;
            }
        }   
        
        p {                       
            font-size: 35px;
            width: 455px;             
            margin-top: 0px;
            margin-bottom: 0px;
            font-family: 'Caveat', cursive;
        }
    }
}

@media screen and (max-width: 480px) {
    .SeccionPrincipal {
        display: none; 
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .SeccionPrincipal__img {        
        width: 28rem;
    }

    .SeccionPrincipal__ContenedorMap {
        width: auto;
        margin: 5rem;
        
        map {
            margin: 0px;
            width: 26rem;
        }

        p {
            width: 25rem;
            margin: 0px;            
        }
    }
}


